<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moxo_Web_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Moxo_Web_UI.Properties.Settings>
            <setting name="Developer" serializeAs="String">
                <value>moxolib.userdefined.DeveloperName</value>
            </setting>
            <setting name="Publisher" serializeAs="String">
                <value>moxolib.userdefined.PublisherName</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>moxolib.userdefined.ApplicationVersion</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>moxolib.userdefined.ApplicationName</value>
            </setting>
            <setting name="WebViewSource" serializeAs="String">
                <value>moxolib.userdefined.WebViewSource</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>1234567890</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1234567890</value>
            </setting>
        </Moxo_Web_UI.Properties.Settings>
    </userSettings>
</configuration>