<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moxo_QuickWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Moxo_QuickWeb.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>230303</value>
            </setting>
            <setting name="dotLX_tmpICO" serializeAs="String">
                <value />
            </setting>
            <setting name="BuildVersion" serializeAs="String">
                <value>01022203P</value>
            </setting>
            <setting name="CheckUpdate" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="UpdateReady" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchArg" serializeAs="String">
                <value />
            </setting>
        </Moxo_QuickWeb.Properties.Settings>
    </userSettings>
</configuration>