<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="Syncfusion.Edit.Windows" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Grid.Base" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Grid.Windows" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Shared.Windows" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.SpellChecker.Base" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Tools.Base" version="20.4.0.54" targetFramework="net48" />
  <package id="Syncfusion.Tools.Windows" version="20.4.0.54" targetFramework="net48" />
</packages>